.body1 {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  width: 900px;
  height: 710px;
  padding: 35px 35px;
  margin: 35px;
  border-radius: 40px;
}

form.change-city {
  margin: 0;
  color: #fcfafb;
  padding: 10px 16px;
  opacity: 0.9;
  font-family: "Abel", sans-serif;
}
h3 {
  text-align: center;
}
.body2 {
  background-color: white;
  width: 820px;
  height: 513px;
  padding: 0px 0px;
  margin: 5px;
  box-shadow: 12px 23px 12px grey;

  border-radius: 60px 10px 10px 60px;
}

.btn-light {
  width: 233px;
  font-size: 22px;
  text-align: center;
  border-color: grey;
  border-radius: 13px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.btn-sm {
  padding: 6px;
  color: #fff;
  font-size: 22px;
  border-color: transparent;
  background-color: transparent;
}

.sideBar {
  width: 270px;
  color: white;
  height: 513px;
  border-radius: 10px 0px 0px 10 px;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
}
.currentHour {
  text-align: right;
}
